language: node_js
node_js:
  - "iojs"
  - "iojs-v2.5.0"
  - "iojs-v2.4.0"
  - "iojs-v2.3.4"
  - "iojs-v2.2.1"
  - "iojs-v2.1.0"
  - "iojs-v2.0.2"
  - "iojs-v2.0.1"
  - "iojs-v2.0.0"
os:
  - linux
  - osx
