name: build

on: [push, pull_request]

jobs:

  build:

    strategy:
      matrix:
        virtual-environment: ['ubuntu-latest', 'windows-2025', 'ubuntu-24.04-arm']
        node: [16, 18, 20, 22, 24, 25]
        include:
          - virtual-environment: 'macos-latest'
            node: 18
          - virtual-environment: 'macos-latest'
            node: 20
          - virtual-environment: 'macos-latest'
            node: 22
          - virtual-environment: 'macos-latest'
            node: 24
          - virtual-environment: 'macos-latest'
            node: 25

    runs-on: ${{ matrix.virtual-environment }}

    steps:
    - name: Configure git (Windows specific)
      if: matrix.virtual-environment == 'windows-2025'
      run: git config --global core.autocrlf false

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node.js ${{ matrix.node }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node }}

    - name: Install dependencies and build
      run: npm install

    - name: Run linter
      run: node node_modules/eslint/bin/eslint .

    - name: Run test suite
      run: node node_modules/mocha/bin/mocha tests
