name: build

on:
  push:
  pull_request:
  schedule:
    - cron: "0 5 * * 1"  # Every Monday at 5:00 UTC

jobs:

  build:

    strategy:
      matrix:
        virtual-environment: [ubuntu-latest, windows-2025, ubuntu-24.04-arm]
        node: [16, 18, 20, 22, 24, latest]
        nan-version: [nan-earliest, nan-latest]
        include:
          - virtual-environment: macos-latest
            node: 18
          - virtual-environment: macos-latest
            node: 20
          - virtual-environment: macos-latest
            node: 22
          - virtual-environment: macos-latest
            node: 24
          - virtual-environment: macos-latest
            node: 25

    runs-on: ${{ matrix.virtual-environment }}

    steps:
    - name: Configure git (Windows specific)
      if: matrix.virtual-environment == 'windows-2025'
      run: git config --global core.autocrlf false

    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup Node.js ${{ matrix.node }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node }}

    - name: Install earliest nan dependency
      shell: bash
      if: matrix.nan-version == 'nan-earliest'
      run: |
        earliest_nan_version="$(npm pkg get dependencies | jq -r '.[] | ltrimstr("^")')"
        echo "Installing nan version $earliest_nan_version"
        npm install nan@"$earliest_nan_version"

    - name: Install dependencies and build
      run: |
        npm install
        npm explain nan

    - name: Run linter
      run: node node_modules/eslint/bin/eslint .

    - name: Run test suite
      run: node node_modules/mocha/bin/mocha tests
